.hero {
	height: 100% !important;
}
.section .column > h1 {
	font-size: 2.5rem;
}

.bottom-pinned-image {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 100%;
	transition: 0.1s opacity;
}

i {
	font-size: 1.25em !important;
	vertical-align: top;
}

/* showmore arrow */

.arrow-spacer {
	height: 110px;
}

i.arrow-showmore-icon {
	display: block;
	font-size: 2.5em !important;
	text-align: center;
	opacity: 0.75;
	position: absolute;
	bottom: 125px;
	width: 33%;
	text-align: center;
}

@media all and (max-width: 1280px) {
	.arrow-spacer {
		height: 70px;
	}
	i.arrow-showmore-icon {
		bottom: 40px;
	}
}

/* feature grid */

.feature-grid {
	display: flex;
	flex-wrap: wrap;
}

.feature-grid > .feature-card {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	padding: 1em 2em;
	font-size: 1.1em;
	flex: 1;
}

@media all and (max-width: 1000px) {
	.feature-grid > .feature-card {
		padding: 1em;
	}
}

@media all and (max-width: 650px) {
	.feature-grid > .feature-card {
		min-width: 100%;
		padding-left: 2em;
		padding-right: 2em;
	}
}

.feature-grid > .feature-card img {
	max-width: 100%;
}

#get-involved div {
	position: relative;
}
#get-involved .list-icon {
	position: absolute;
	left: -2em;
}