.release-container {
  margin: 2em 0;
}

.release-spacer {
  height: 0.33em;
}

.release-container h1 {
  border-bottom: none;
}

.release-container .release-date {
  font-style: italic;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5em;
  margin-top: -1em;
  margin-bottom: 1em;
}

#releases-older-link {
  font-size: 1.25em;
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: block;
  padding-bottom: 2em;
}

#releases-older-link i {
  font-size: 1.1em;
  vertical-align: middle;
  margin-top: -0.15em;
  display: inline-block;
}